.cabecalho{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large; 
}

.corpo{
    background-color: rgb(143, 182, 221);  
}

.city {
	background-color: rgb(207, 94, 121);
	color: rgb(37, 18, 18);
	border: 2px solid rgb(0, 0, 0);
	margin: 20px;
	padding: 20px;
}

